<app-header></app-header>
<section *ngIf="!isSearching; else searchingTemplate">
  <ul>
    <li *ngFor="let artist of artists">
      <ul>
        <li *ngFor="let album of artist.albums">
          <a [routerLink]="['/album', album.id]">
            <app-album-card [album]="album" [artist]="artist"></app-album-card>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</section>
<ng-template #searchingTemplate>
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</ng-template>
