@media (max-width: 859px) {
  section {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

mat-progress-spinner {
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

mat-expansion-panel {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
}

mat-form-field {
  display: block;
}

#remove-icon {
  margin: 0;
}
