.song-li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.length-fav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.song-li-p {
  margin: 0rem;
  margin-right: 1.3rem;
}

.remove{
  cursor: pointer;
}