<mat-card *ngIf="album && artist">
  <mat-card-header>
    <img mat-card-md-image src="{{ album.coverArt }}" alt="Album Cover Art" />
    <div>
      <mat-card-title-group>
        <mat-card-title>{{ album.title }}</mat-card-title>
        <mat-card-subtitle>{{ artist.name }}</mat-card-subtitle>
        <a [routerLink]="['/album', album.id]">
          <mat-icon>arrow_forward_ios</mat-icon>
        </a>
      </mat-card-title-group>
      <p>{{ album.description.slice(0, 50) }}...</p>
    </div>
  </mat-card-header>
  <mat-card-content> </mat-card-content>
</mat-card>
