<mat-card *ngIf="album && artist">
  <a [routerLink]="['/album', album.id]" (click)="selectArtistData(artist)">
    <mat-card-header>
      <img mat-card-md-image src="{{ album.coverArt }}" alt="Album Cover Art" />
      <div class="card-title-group-container">
        <mat-card-title-group>
          <mat-card-title>{{ album.title }}</mat-card-title>
          <mat-card-subtitle>{{ artist.name }}</mat-card-subtitle>

          <mat-icon>arrow_forward_ios</mat-icon>
        </mat-card-title-group>
        <p>{{ album.description.slice(0, 45) }}...</p>
      </div>
    </mat-card-header>
  </a>
  <mat-card-content></mat-card-content>
</mat-card>
