/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  background-color: #f9efdb;
  color: #638889;
  //   color: #EBD9B4;
  //   color: #9DBC98;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  list-style: none;
}
