mat-card {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
}

mat-expansion-panel{
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

mat-panel-title{
  color: #345859;
  font-family: "Noto Sans";
}

@media (max-width: 859px) {
  mat-card {
    margin: 0.5rem;
    width: 90%;
    padding: 0.5rem;
  }
  mat-card-title-group {
    align-items: center;
    justify-content: space-between;
  }
}

// Hide "Add to Favourites" in smaller devices
@media (max-width: 500px) {
  .details {
    font-size: 0.7rem;
  }

  .favourites-p {
    display: none;
  }
}

mat-progress-spinner {
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.back-icon {
  transform: scale(0.8);
}

.length {
  background-color: #345859;
  color: #f9efdb;
}
